**Variáveis Compostas - Métodos com Tuplas**
>Exemplo09<br>

``` python
#A função sorted() retorna uma lista classificada do objeto iterável especificado.
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
```

In [1]:
lista_nomes = ('Diana','Luck','Theo')
print(lista_nomes)
print(sorted(lista_nomes))

lista_nomes = (7, 22, 4, 12, 7, 29)
print(lista_nomes)
print(sorted(lista_nomes))

('Diana', 'Luck', 'Theo')
['Diana', 'Luck', 'Theo']
(7, 22, 4, 12, 7, 29)
[4, 7, 7, 12, 22, 29]

**Exemplo10**<br>
>Unindo tuplas:

In [2]:
a = (1, 2, 3)
b = (4, 5, 6)
c_1 = a + b
c_2 = b + a
print(c_1)
print(c_2)

(1, 2, 3, 4, 5, 6)
(4, 5, 6, 1, 2, 3)

**Exemplo11**<br>
```python
#O método count() retorna o número de elementos com o valor especificado.
fruits = ["apple", "banana", "cherry"]
x = fruits.count("cherry")
print(x)
1
```

In [2]:
numeros = (7, 22, 4, 12, 7, 29)
print(numeros)
print(numeros.count(7))

letras = ('A', 'B', 'C', 'A', 'D', 'A')
print(letras)
print(letras.count('A'))

(7, 22, 4, 12, 7, 29)
2
('A', 'B', 'C', 'A', 'D', 'A')
3

**Exemplo12**<br>
```python
#O método index() retorna a posição na primeira ocorrência do valor especificado.
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)
2
```

In [1]:
numeros = (7, 22, 4, 12, 7, 29)
print(numeros)
print(numeros.index(12))

letras = ('A', 'B', 'C', 'A', 'D', 'A')
print(letras)
print(letras.index('C'))
print(letras.index('A'))
print(letras.index('A'))
print(letras.index('A', 1))

(7, 22, 4, 12, 7, 29)
3
('A', 'B', 'C', 'A', 'D', 'A')
2
0
0
3

**Exemplo13**<br>
>É importante saber que as tuplas, apesar de serem muito parecidas com vetores, também aceitam dados de tipos primitivos diferentes. O que já não acontece em outras línguagem de programação

In [2]:
info = ('Diana', 65.0, 'F', 27, 'Porto Alegre')
print(info)

('Diana', 65.0, 'F', 27, 'Porto Alegre')

>Exemplo 14<br>
TUPLAS são IMUTÁVEIS. Porém, há uma expressão que podem realizar de “mudança” com as tuplas, que seria APAGAR elas completamentamente usando o comando del().

In [3]:
pessoa = ('Diana', 65.0, 'F', 27, 'Porto Alegre')
print(pessoa)
del(pessoa)
print(pessoa)

('Diana', 65.0, 'F', 27, 'Porto Alegre')

NameError: name 'pessoa' is not defined

**Exemplo15**<br>
>Os operadores relacionais funcionam com tuplas e outras sequências; O Python começa comparando o primeiro elemento de cada sequência. Se forem iguais, vai para os próximos elementos, e assim por diante, até que encontre elementos que sejam diferentes. Os elementos subsequentes não são considerados (mesmo se forem muito grandes).

In [4]:
a = (0, 1, 2)
b = (0, 3, 4)
print(a < b)

True

**Exemplo16**<br>
>O exemplo a seguir é muito importante para que fique clara a diferença e, pricipalmente, como e quando usar for junto com tuplas.

In [1]:
produtos = ('Caderno', 12.50, 'Mochila', 55.00, 'livro', 21.90)
print("\033[033mTESTE 1 > Primeira forma\033[m")
for posicao in range (0, len((produtos))):
    print(posicao, end=' ')
    
print("\n\033[032mTESTE 2 > Segunda forma\033[m")
for produto in produtos:
    print(produto, end=' ')
    
print("\n\033[031mTESTE 3 > Terceira forma\033[m")
for posicao, produto in enumerate(produtos):
    print(f' Produto:{produto}. Posição:{posicao}')

TESTE 1 > Primeira forma
0 1 2 3 4 5
TESTE 2 > Segunda forma
Caderno 12.5 Mochila 55.0 livro 21.9
TESTE 3 > Terceira forma
 Produto:Caderno. Posição:0
 Produto:12.5. Posição:1
 Produto:Mochila. Posição:2
 Produto:55.0. Posição:3
 Produto:livro. Posição:4
 Produto:21.9. Posição:5